<a href="https://colab.research.google.com/github/MartinezOrtizEduardoAntonio/mineria_de_datos/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PARCIAL 2

In [2]:
import pandas as pd
pd.read_csv("/content/adult-human-skeleton.csv")
pd.read_csv("/content/bird-neck-bones.csv")
pd.read_csv("/content/mammal-neck-bones.csv")

                 species  neck_vertebrae
0                cheetah               7
1                 impala               7
2            giant panda               7
3             hartebeest               7
4                  moose               7
..                   ...             ...
297               alpaca               7
298        common wombat               7
299              red fox               7
300           fennec fox               7
301  california sea lion               7

[302 rows x 2 columns]